.no-padding {
  padding: 0px !important;
}

.no-margin {
  margin: 0px !important;
}

.navbar {
  background-color: #414b50;
}

.logo {
  color: white;
  font-size: 6vh;
}

.iframe {
  width: 100%;
  height: 70vh;
  src: "https://console.dialogflow.com/api-client/demo/embedded/baacb116-5167-4c03-b8e3-ee85a43bb82d%22%3E";
}

.footer {
  position: absolute;
  bottom: 0;
  background-color: #414b50;
  width: 100%;
  height: 10vh;
  color: white;
}
